<div class="ingredients-container">
  <h1>New Cocktail</h1>

  <ul class="alerts">
    <% if @cocktail.errors %>
      <% @cocktail.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="ingredients">
    <%= render 'form', cocktail: @cocktail %>
    <br>
    <%= link_to 'Back', cocktails_path, class: "btn btn-danger" %>
  </div>

</div>
