<div class="ingredients-container">
  <h1><%= @dose.cocktail.name %></h1>

  <div class="ingredients">
    <ul class="alerts">
      <% if @dose.errors %>
        <% @dose.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>

    <%= render 'form', dose: @dose %>
    <br>
    <%= link_to 'Back', cocktail_path(@dose.cocktail), class: "btn btn-main-alt" %>
  </div>

</div>

