// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "components/card";
@import "components/search";
@import "pages/index";
@import "cocktails";
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');

body {
  background-color: #FEDC32;
}

h1 {
  color: #000000;
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 10vh;
}

.placeholder {
  text-align: center;
  padding-right: 5%;
  // height: 100vh;
}

.svg {
  display: flex;
  height: 90vh;
  // margin-top: -5%;
  // padding-top: 10%;
}

.container {
  display: flex;
  justify-content: space-around;
  // vertical-align: center;
}

.ml6 {
  position: relative;
  // font-weight: 900;
  // font-size: 3.3em;
  font-size: 15vh;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

$brand-warning: #000000;

a {
  color: black;
  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  .navbar &:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: black underline !important;
  }
}
